@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


html {
    background: #36393F;
    color: rgb(206, 205, 205);
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
}

body {
    position: relative;
    margin: 0 0 0 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.btn-option:hover {
    cursor: pointer;
    opacity: 0.7;
}

.btn-option {
    margin: auto;
    margin-left: 3px;
    margin-right: 3px;
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    padding-left: 0;
}

.option-bar {
    background: #484b52;
    height: 25px;
    display: flex;
    align-items: center;
}


.option-close {
    background: red
}

.option-minimize {
    background: orange
}

.option-maximize {
    background: green
}

.option-list {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-left: 4px
}

.dragable {
    flex-grow: 1;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    height: 100%;
    width: 100%
}

.device-container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    max-height: calc(100vh - 25px);
    overflow-y: auto;
    overflow-x: hidden;
}

.main-menu {
    min-width: 250px;
    max-width: 400px;
    background: #3C3F45;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 25px);
}

.main-container {
    display: flex;
    flex-grow: 1;
}

.device-info {
    background: #b5b5b5;
    border-radius: 10px;
    display:flex;
    margin-left: 20px;
    margin-right: 20px;
    text-align: right;
}

.grow > .device-info {
    margin-top: 20px;
}

.info {
    color: #3C3F45;
    font-size: 10px;
    flex-grow: 1;
    margin: 10px 0 10px 0;
}

.info h1 {
    margin: 0 0 0 10px;
}

.info small {
    font-size:12px
}

.avatar {
    min-width: 40px;
    min-height: 40px;
    background: #ABFD9E;
    margin: auto 10px auto 10px;
    border-radius: 50%;
}

.btn-settings {
    display: flex;
    text-align: right;
    font-size: 12px;
    margin-right: 20px;
    justify-content: right;
}

.btn-settings h1 {
    margin-bottom: 20px;
}

.grow {
    flex-grow: 1;
}

.searching {
    flex-grow: 1;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.device-card {
    background: #3C3F45;
    min-width: 220px;
    max-width: 400px;
    min-height: 220px;
    max-height: 250px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.info-card {
    background: #b5b5b5;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.info-card > h1 {
    margin: 0 10px 0 10px
}

.info-card > small {
    margin: 10px 5px 10px 10px
}

.avatar-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
}

.btn-send {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}


 /* width */
 ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #484b52;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b5b5b5;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  } 